<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
       <settings>
              <setting name="cacheEnabled" value="false"/>
              <setting name="lazyLoadingEnabled" value="true"/>
              <setting name="aggressiveLazyLoading" value="false"/>
              <setting name="localCacheScope" value="STATEMENT"/>
              <setting name="multipleResultSetsEnabled" value="true"/>
              <setting name="useColumnLabel" value="true"/>
              <setting name="defaultStatementTimeout" value="25000"/>
              <setting name="mapUnderscoreToCamelCase" value="true"/>
              <!-- 是否使用插入数据后自增主键的值，需要配合keyProperty使用 -->
              <setting name="useGeneratedKeys" value="true"/>
              <!--开启输出语句以及记录-->
              <setting name="logImpl" value="LOG4J" />

       </settings>

       <typeAliases>
              <!--测试用户-->
              <typeAlias alias="User" type="cc.top.model.TestModel.entity.User" />

              <!--微信-->
              <typeAlias alias="WebChat" type="cc.top.model.webchat.entity.WebChat" />
              <typeAlias alias="WebchatClient" type="cc.top.model.webchat.entity.WebchatClient" />

              <!--实验室-->
              <typeAlias alias="Iot" type="cc.top.model.iot.entity.Iot" />

              <!--投票系统-->
              <typeAlias alias="Result" type="cc.top.model.ATC.entity.Result" />
              <typeAlias alias="Mechine" type="cc.top.model.ATC.entity.Mechine" />
              <typeAlias alias="Vote" type="cc.top.model.ATC.entity.Vote" />
              <typeAlias alias="VoteList" type="cc.top.model.ATC.entity.VoteList" />
              <typeAlias alias="VoteUser" type="cc.top.model.ATC.entity.VoteUser" />
              <typeAlias alias="VoteResult" type="cc.top.model.ATC.dto.voteResult" />


       </typeAliases>




</configuration>