<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="voteList">
    <sql id="Base_Column_List">
        voteId,startTime,endTime,voteName
    </sql>
    
     <select id="getAll" resultType="VoteList">
         SELECT
         <include refid="Base_Column_List" />
         from voteList
         ORDER  BY  voteId DESC
     </select>

    <select id="selectById" parameterType="int" resultType="VoteList">
        SELECT
        <include refid="Base_Column_List" />
        from voteList
        <where>
            voteId=#{voteId}
        </where>
    </select>

    <insert id="creatVote" parameterType="VoteList">
        INSERT INTO voteList(startTime,endTime,voteName)
        VALUES (#{startTime},#{endTime},#{voteName})
    </insert>

    <select id="findByName" parameterType="String" resultType="VoteList">
        SELECT
        <include refid="Base_Column_List" />
        from voteList
        <where>
            voteName=#{voteName}
        </where>
    </select>

</mapper>