<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
    <sql id="selectId">
        id,user_name,password
    </sql>
    <insert id="insertUser" parameterType="User">
        insert into user(user_name, password)
        values(#{userName}, #{password})
    </insert>

    <select id="selectById" resultType="User" parameterType="String">
        SELECT
        <include refid="selectId" />
        from user
        <where>
            id=#{id}
        </where>
    </select>
</mapper>